<div class="row">
    <div class="col-8">
        <h1>{{ ad.title }}</h1>
        <p>{{ ad.id }}</p>
        <p>{{ad.seller }}</p>
        <p>{{ad.game }}</p>
        <p>{{ad.cond }}</p>
        <p>{{ad.buyer }}</p>
        <p>{{ad.status }}</p>
        <p>{{ad.content|nl2br }}</p>

    </div>
</div>





