{% extends'base.html.twig' %}
{% block title %}Connexion{% endblock %}
{% block body %}
    <h1>Inscription</h1>
<div class=container">
    <td>{{ form_start(form) }}</td>
    <td>{{ form_row(form.role) }}</td>
    <td>{{ form_row(form.image) }}</td>
    <td>{{ form_row(form.lastname)}}</td>
    <td>{{ form_row(form.firstname)}}</td>
    <td>{{ form_row(form.email) }}</td>
    <td>{{ form_row(form.plainPassword)}}</td>
    <td>{{ form_row(form.shopName)}}</td>
    <td>{{ form_row(form.address)}}</td>
    <td>{{ form_row(form.presentation) }}</td>
    <button type="submit" class="btn btn-primary">
            Enregistrer
    </button>
    <td>{{ form_end(form) }}<td>
</div>
{% endblock %}