{% extends 'base.html.twig' %}
{% block title %}Liste des vendeurs{% endblock %}

{% block body %}

    <h1>Gestion Vendeurs</h1>


    <table class=" table table-responsive-md  table-striped">
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Boutique</th>
            <th>Adresse</th>
            <th>E-mail</th>
            <th></th>

        </tr>

        {%  for seller in sellers %}

            <tr>
                <td>{{ seller.id }}</td>
                <td>{{ seller }}</td>
                <td>{{ seller.shopName }}</td>
                <td>{{ seller.address }}</td>
                <td>{{ seller.email }}</td>


                <td><a href="{{ path('app_admin_seller_detail', {'id': seller.id }) }}" class="btn btn-outline-primary btn-sm mb-3"><i class="fas fa-pencil-alt"></i></a>

                    <a href="{{ path('app_admin_seller_delete', {'id': seller.id }) }}" class="btn btn-outline-danger btn-delete btn-sm mb-3"><i class="fas fa-trash"></i></a>

                    <a href="{{ path('app_admin_seller_ajaxcontent', {'id': seller.id }) }}" class="btn btn-outline-secondary btn-user-content btn-sm mb-3"><i class="fas fa-eye"></i></a></td>
            </tr>

        {% endfor %}

    </table>

    {# Modale suppression #}
    <div class="modal" tabindex="-1" role="dialog" id="modal-confirm-delete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Etes-vous sûr.e de vouloir supprimer ce vendeur</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-primary btn-confirm-delete">Oui</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                </div>
            </div>
        </div>
    </div>


    {# Modale aperçu du vendeur #}
    <div class="modal" tabindex="-1" role="dialog" id="modal-user-content">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Aperçu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

                </div>
            </div>
        </div>
    </div>




{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('js/admin_user.js') }}"></script>

{% endblock %}