{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="bandeau1 row mx-auto bg-custom justify-content-between align-items-center p-3 mb-5">
        <div class="m-4 ">
            <h2 class="titre p-2">Messages du Staff</h2>
            <p class="col-12 titre">
                Bienvenue aux nouveaux membres !
                Pokem ipsum dolor sit amet fishing rod Mint Berry Glacier Badge Servine ullamco laboris nisi Horsea.
                Squirtle Umbreon Sewaddle Cubone Lumineon Satoshi Tajiri Happiny.
                Venusaur Whirlipede Rotom Clamperl Poliwrath Rhyhorn Hive Badge.
                Duis aute irure dolor in reprehenderit in voluptate Tirtouga Croagunk Galvantula Budew Poke Flute Squirtle.
                Gold Golduck Electrode Combee Sawsbuck Kabuto Tyrogue.
            </p>
        </div>
    </div>

    <div class="row d-flex bandeau2 mx-auto justify-content-between align-items-center p-3 mb-5">
        <div class="col-12 col-md-3 titre text-light">Vous êtes vendeur ? Postez vos annonces !</div>
        <div class="col-12 col-md-3 justify-content-center">
            {% if app.user is null %}
                <a class="titre btn btn-warning" href="{{ path('app_security_register') }}">Devenir vendeur</a>
            {% else %}
                <a class="titre btn btn-warning" href="">Poster des annonces</a>
            {% endif %}
        </div>
    </div>

    <div class="bandeau1 row mx-auto bg-custom align-items-start p-3 mb-5">
        <div class="col-12 col-lg-3 m-4 texte ">
            <h2 class="titre h4 p-2">Derniers membres</h2>
            <ul class="list-group bg-custom">
                {% for buyer in buyers %}
                    <li class="list-group-item bg-custom">
                        <a class="text-dark" href="{{ path('app_buyer_detail', {'id': buyer.id}) }}">
                            {{ buyer }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-12 col-lg-3 m-4 texte ">
            <h2 class="titre h4 p-2">Derniers vendeurs</h2>
            <ul class="list-group bg-custom">
                {% for seller in sellers %}
                    <li class="list-group-item bg-custom">
                        <a class="text-dark" href="{{ path('app_seller_detail', {'id': seller.id}) }}">
                            {{ seller }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-12 col-lg-3 m-4 texte ">
            <h2 class="titre h4 p-2">Dernières annonces</h2>
            <ul class="list-group bg-custom">
                {% for ad in ads %}
                    <li class="list-group-item bg-custom">
                        <a class="text-dark" href="{{ path('app_ad_detail', {'id': ad.id}) }}">
                           {{ ad.game }} - {{ ad }} proposé par {{ ad.seller }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row d-flex bandeau3 mx-auto justify-content-between align-items-center p-3 mb-5">
        <div class="col-12 col-md-3 titre bg-light">Vous êtes nouveau ? Affichez votre collection !</div>
        <div class="col-12 col-md-3  justify-content-center">
            {% if app.user is null %}
                <a class="titre btn btn-light" href="{{ path('app_game_index') }}">Liste des jeux</a>
            {% else %}
            <a class="titre btn btn-light" href="{{ path('app_seller_detail', {'id': app.user.id }) }}">Ajouter des jeux sur mon profil</a>
            {% endif %}
        </div>
    </div>







{% endblock %}
