{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="bandeau1 row mx-auto bg-custom  align-items-center mb-5">
        <div class="m-4 mx-auto ">
            <h1 class="titre text-center mx-auto">Web<span class="texte-orange">Force</span>Games</h1>
            <p class="col-12 text-center">


            </p>
        </div>
    </div>

    <div class="row d-flex bandeau2 mx-auto justify-content-between align-items-center p-3 mb-5">
        <div class="col-12 col-lg-3 titre text-light">Vous êtes vendeur ? Postez vos annonces !</div>
        <div class="col-12 col-lg-3 justify-content-center mr-5">
            {% if app.user is null %}
                <a class="titre btn btn-warning" href="{{ path('app_security_register') }}">Devenir vendeur</a>
            {% else %}
                <a class="titre btn btn-warning" href="{{ path('app_ad_add') }}">Poster des annonces</a>
            {% endif %}
        </div>
    </div>

    <div class="bandeau1 row mx-auto bg-custom align-items-start p-3 mb-5">
        <div class="col-12 col-lg-4 m-4 texte mx-auto ">
            <h2 class="titre h4 p-2 text-center">Derniers membres</h2>
            <ul class="list-group bg-custom mx-auto">
                {% for buyer in buyers %}
                    <li class="list-group-item bg-custom">
                        <a class="text-dark" href="{{ path('app_buyer_detail', {'id': buyer.id}) }}">
                            {{ buyer }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-12 col-lg-4 m-4 texte mx-auto ">
            <h2 class="titre h4 p-2 text-center">Derniers vendeurs</h2>
            <ul class="list-group bg-custom">
                {% for seller in sellers %}
                    <li class="list-group-item bg-custom">
                        <a class="text-dark" href="{{ path('app_seller_detail', {'id': seller.id}) }}">
                            {{ seller }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-12 col-lg-4 m-4 texte mx-auto ">
            <h2 class="titre h4 p-2 text-center">Dernières annonces</h2>
            <ul class="list-group bg-custom">
                {% for ad in ads %}
                    <li class="list-group-item bg-custom">
                        <a class="text-dark" href="{{ path('app_ad_detail', {'id': ad.id}) }}">
                           {{ ad.game }} - {{ ad }} proposé par {{ ad.seller }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row d-flex bandeau3 mx-auto justify-content-between align-items-center p-3 mb-5">
        <div class="col-12 col-md-3 bg-light"><p class="home-btn">Vous êtes nouveau ? Affichez votre collection !</p></div>
        <div class="col-12 col-md-3  justify-content-center">
            {% if app.user is null %}
                <a class="titre btn btn-light" href="{{ path('app_game_index') }}">Liste des jeux</a>
            {% else %}
                <a class="titre btn btn-light my-2" href="{{ path('app_seller_detail', {'id': app.user.id }) }}"><p class="home-btn">Ajouter des jeux sur mon profil</p></a>
            {% endif %}
        </div>
    </div>







{% endblock %}
