<h1>{{ buyer }}</h1>
<p><i class="far fa-address-book"></i> {{ buyer.address }}</p>
<p><i class="fas fa-at"></i> {{ buyer.email }}</p>



<h2>Présentation :</h2>
<p>{{ buyer.presentation|nl2br }} </p>




{% if buyer.image is null %}

    <div class="text-center">
        <img src="img/profile/default-avatar.png" width="100px" alt="">
    </div>

{% else %}

    <div class="text-center">
        <img src="{{ asset('img/profile/' ~ buyer.image) }}" width="100px" alt="">
    </div>


{% endif %}

