{% extends 'base.html.twig' %}
{% block title %}{{ game.title }}{% endblock %}
{% block body %}
    <div class="bg-custom p-4 mb-5">
        <h1 class="titre h3">{{ game.title }}</h1>
        <div class="row p-2">
            <div class="col-md-5 mx-auto">
            {% if game.cover is null %}
                <img class="col-sm  img-fluid mx-auto" src="{{ asset('img/cover/default-cover.jpg') }}" alt="jaquette de {{ game.title }}">
            {% else %}
                <img class="col-sm img-fluid mx-auto" src="{{ asset('img/cover/' ~ game.cover) }}" alt="jaquette de {{ game.title }}">
            {% endif %}
            </div>
            <div class="col-md-7">
                <p><a class="card-text">Année de sortie {{ game.date.format("Y") }}</a></p>
                <p><a class="card-text">Plateforme : {{ game.platform }}</a></p>
            </div>
    </div>
    </div>
<div class="bg-custom p-4 mb-5">
        <h2 class="titre h4">Collections</h2>
        {% for user in users %}
            <p><strong>{{ game }}</strong> apparaît dans la collection de : </p>
            <p><a href="{{ path('app_buyer_detail', {'id': user.id}) }}">{{ user }} </a></p>
        {% else %}
            <p><strong>{{ game }}</strong> ne figure dans aucune collection </p>
        {% endfor %}
</div>
    {# Affichage des Commentaires #}
<div class="bg-custom p-4 mb-5">
    <h2 class="titre h4">Commentaires</h2>
    <div class="row">
        {%  for comment in comments %}
            <div class="card">
                <div class="card-header">
                    {{ comment.title }}
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{{ comment.content }}</p>
                        <footer class="blockquote-footer">{{ comment.author }} <img class="image-small img-thumbnail" src="{{ asset('/img/profile/' ~ comment.author.image ) }}" alt=""></footer>
                    </blockquote>
                </div>
            </div>
        {% else %}
            <p>Pas de commentaires</p>
        {% endfor %}
    </div>
        </div>
{% endblock %}
