{% extends 'base.html.twig' %}
{% block title %}{{ game.title }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="well">
            <div class="media">
                    {% if game.cover is null %}
                    <div class="mx-3 img-thumbnail pull-left">
                        <img src="{{ asset('img/cover/default-cover.jpg') }}" width="300px" alt="">
                    </div>
                    {% else %}
                <div class="mx-3 img-thumbnail pull-left">
                    <img src="{{ asset('img/cover/' ~ game.cover) }}" width="100%" alt="">
                </div>
                {% endif %}
                <div class="media-body">
                    <h4 class="media-heading titre">{{ game.title }}</h4>
                    <ul class="list-inline list-unstyled texte">
                        <p>{{ game.platform }}</p>
                        <p>{{ game.date.format("Y") }}</p>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <h2>Collections</h2>

    {% for user in users %}
        <p><strong>{{ game }}</strong> apparaît dans la collection de : </p>

        <p><a href="{{ path('app_buyer_detail', {'id': user.id}) }}">{{ user }} </a></p>



    {% else %}

        <p><strong>{{ game }}</strong> ne figure dans aucune collection </p>
    {% endfor %}




{% endblock %}
