{% extends 'base.html.twig' %}
{% block title %}{{ game.title }}{% endblock %}
{% block body %}
    <div class="container bg-custom">
            <div class="card col-10 mx-auto">
                <h1 class="titre h3">{{ game.title }}</h1>
                <div class="card-body d-flex texte">
                    {% if game.cover is null %}
                            <img class="mx-3 img-thumbnail" src="{{ asset('img/cover/default-cover.jpg') }}" alt="jacquette de {{ game.title }}">
                    {% else %}
                            <img class="mx-3 img-thumbnail" src="{{ asset('img/cover/' ~ game.cover) }}" alt="jacquette de {{ game.title }}">
                    {% endif %}
                    <p><a class="card-text">Plateforme : {{ game.platform }}</a></p>
                    <p><a class="card-text">Année de sortie {{ game.date.format("Y") }}</a></p>
                </div>
            </div>
        <div class="row col-10 mx-auto pt-5">
    <h2 class="titre">Collections</h2>
    {% for user in users %}
        <p><strong>{{ game }}</strong> apparaît dans la collection de : </p>
        <p><a href="{{ path('app_buyer_detail', {'id': user.id}) }}">{{ user }} </a></p>
    {% else %}
        <p><strong>{{ game }}</strong> ne figure dans aucune collection </p>
    {% endfor %}





    {# Affichage des Commentaires #}



    <h2>Commentaires</h2>

    <div class="row">

        {%  for comment in comments %}

            <div class="card col-lg-12">
                <div class="card-header">
                    {{ comment.title }}
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{{ comment.content }}</p>
                        <footer class="blockquote-footer">{{ comment.author }} <img class="image-small" src="{{ asset('/img/profile/' ~ comment.author.image ) }}" alt=""></footer>
                    </blockquote>
                </div>
            </div>

        {% else %}
            Pas de commentaires

        {% endfor %}

    </div>







        </div>
    </div>
{% endblock %}
