{% extends 'base.html.twig' %}
{% block title %}Profil de {{ seller }}{% endblock %}
{% block body %}


    {{ seller}} - {{ seller.shopName}}<br>

    {{ seller.address}}<br>
            {{ seller.presentation}}<br>
        {%  if seller.image %}
        <img src="{{ asset('/img/profile/' ~ seller.image) }}" height="200px">
        {% endif %}


    <h2>Les annonces de {{ seller }}</h2>

    {%  for ad in ads %}

        <p>{{ ad.date|date("d/m/Y") }} - <a href="" class=""><strong>{{ ad.title }}</strong></a> - <a href="{{ path('app_game_detail', {'id': ad.game.id}) }}">{{ ad.game }}</a> - {{ ad.status }}

          {% if ad.buyer is not null %}
           ( <a href="{{ path('app_buyer_detail', {'id': ad.buyer.id}) }}">{{ ad.buyer }}</a>)
            {% endif %}



            </p>

    {% else %}

        <p>{{ seller }} n'a pas d'annonces en cours</p>

    {% endfor %}





    {# Affichage des Commentaires #}



            <h2>Commentaires</h2>

        <div class="row">

            {%  for comment in comments %}

            <div class="card col-lg-12">
                <div class="card-header">
                    {{ comment.title }}
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{{ comment.content }}</p>
                        <footer class="blockquote-footer">{{ comment.author }} <img class="image-small" src="{{ asset('/img/profile/' ~ comment.author.image ) }}" alt=""></footer>
                    </blockquote>
                </div>
            </div>

            {% else %}
                Pas de commentaires

            {% endfor %}

        </div>

{% endblock %}



