{% extends 'base.html.twig' %}
{% block title %}Profil de {{ buyer }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <h1>{{ buyer }}</h1>
        </div>
        {%  if buyer.image %}
            <img src="{{ asset('/img/profile/' ~ buyer.image) }}" height="200px">
        {% endif %}
        {{ buyer.firstname}}
        {{ buyer.presentation}}
        {% if app.user %}
            {% if app.user.id == buyer.id %}
                <a class="btn btn-warning" href="{{ path('app_buyer_edit', {'id': app.user.id }) }}">Modifier mon Profil</a>
            {% endif %}
        {% endif %}
        <p>La collection de {{ buyer }}</p>
        {% for jeu in collection %}
            <p>{{ jeu.title }} - ({{ jeu.date|date('Y') }}) - {{ jeu.platform }}</p>
        {% else %}
            <p>{{ buyer }} n'a pas encore de collection </p>
        {% endfor %}
        {% if app.user %}
            {% if app.user.id == buyer.id %}
              <a class="btn btn-primary" href="#">Ajouter un jeu </a>
            {% endif %}
        {% endif %}
    </div>



{# Affichage des Commentaires #}

    <h2>Commentaires</h2>

    <div class="row">

        {%  for comment in comments %}

            <div class="card col-lg-12">
                <div class="card-header">
                    {{ comment.title }}
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{{ comment.content }}</p>
                        <footer class="blockquote-footer">{{ comment.author }} <img class="image-small" src="{{ asset('/img/profile/' ~ comment.author.image ) }}" alt=""></footer>
                    </blockquote>
                </div>
            </div>

        {% else %}
            Pas de commentaires

        {% endfor %}


</div>





{% endblock %}





