<div class="row">
    <div class="col-8">
        <h1>{{ comment.title }}</h1>
        <p>{{ comment.id }}</p>
        <p>{{comment.author }}</p>
        <p>{{comment.target }}</p>
        <p>{{comment.game }}</p>
        <p>{{comment.content|nl2br }}</p>

    </div>
</div>





