{% extends 'base.html.twig' %}
{% block title %}{{ ad.title }}{% endblock %}
{% block body %}
    <div class="bg-custom p-4 mb-5">
        <h1 class="titre">{{ ad.game }} </h1>
        <h2>{{ ad.title }}</h2>


        <div class="row p-2">
            <div class="col-md-5 mx-auto">
                {% if game.cover is null %}
                    <img class="col-sm  img-fluid mx-auto" src="{{ asset('img/cover/default-cover.jpg') }}" alt="jaquette de {{ game.title }}">
                {% else %}
                    <img class="col-sm img-fluid mx-auto" src="{{ asset('img/cover/' ~ game.cover) }}" alt="jaquette de {{ game.title }}">
                {% endif %}
            </div>
            <div class="col-md-7">
                <p class="card-text">Proposé par : <a href="{{ path('app_admin_seller_detail', {'id': ad.seller.id}) }}">{{ ad.seller }}</a></p>
                <p class="card-text">Etat du produit : {{ ad.cond }}</p>
                <p class="card-text">Prix {{ ad.price }} €</></p>
                <p class="card-text">Statut : {{ ad.status }}</p>
                <p class="card-text">{{ ad.content }}</p>

            </div>
        </div>
    </div>
{% endblock %}

