{% extends 'base.html.twig' %}

{% block body %}
    {{ dump(game) }}


    <h1>{{ game.name }}</h1>
    <div class="row">
        <div class="col-md-4 ">
        <img class="img-fluid col-sm m-auto" src="{{ game.cover_url }}" alt="{{ game.slug }}">
        </div>
        <div class="col-md-8">
            <p class="h3">{{ game.first_release_date|date('Y')}}</p>
            <h2>Plateformes :</h2>
            <p>
            {% for platform in game.platform_names %}
                - {{ platform }}

            {% endfor %}
            </p>
            <h2>Résumé :</h2>
            {{ game.summary }}

        </div>


    </div>




{% endblock %}

