{% extends 'base.html.twig' %}

{% block body %}



    <h1 class="h3">{{ game.name }}</h1>
    <div class="row">
        <div class="col-md-4 ">
        <img class="img-fluid col-sm m-auto" src="{{ game.cover_url }}" alt="{{ game.slug }}">
        </div>
        <div class="col-md-8">
            <p class="h5">Année : <span class="h6">
            {%  if game.first_release_date is defined %}
            {{ game.first_release_date|date('Y')}}
                {% else %}
                    inconnue
            {% endif %}
                </span></p>

            <h2 class="h5">Plateformes :</h2>
            <p>
            {% for platform in game.platform_names %}
                - {{ platform }}

            {% endfor %}
            </p>
            <h2 class="h5">Résumé :</h2>
            <p>{{ game.summary }}</p>

        </div>


    </div>




{% endblock %}

